<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../../../assets/user/images/blog-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Blog</h2>
        <ol>
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
        </ol>

    </div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

                <div class="row gy-5 posts-list">

                    <div *ngFor="let post of hotNews" class="col-md-6">
                        <article class="blog-post">
                          <img [src]="getFullImageUrl(post.excerptImage)" alt="{{ post.title }}" class="img-fluid">
                          <h3>{{ post.title }}</h3>
                          <p>{{ post.content | slice:0:100 }}...</p>
                          <p>Ngày đăng: {{ formatDate(post.createdAt) }}</p>
                          <a [routerLink]="['/blog', post.id]">Đọc thêm</a>
                        </article>
                      </div>
                </div>
                <!-- End blog posts list -->

            </div>

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">

                <div class="sidebar ps-lg-4">

                    <div class="sidebar-item recent-posts">
                        <h3 class="sidebar-title">Tin Tức khuyến mãi</h3>

                        <div class="mt-3">

                            <div *ngFor="let post of promotionNews"  class="post-item mt-3">
                                <img [src]="getFullImageUrl(post.excerptImage)" alt="{{ post.title }}" class="img-fluid">
                                <div>
                                    <h4>{{ post.title }}</h4>
                                    <p>Ngày đăng: {{ formatDate(post.createdAt) }}</p>
                                    <a [routerLink]="['/blog', post.id]">Xem chi tiết</a>
                                </div>
                            </div>
                

                        </div>

                    </div>
                    <!-- End sidebar recent posts-->

                </div>
                <!-- End Blog Sidebar -->

            </div>

        </div>

    </div>
</section>
<!-- End Blog Section -->