<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('../../../../assets/user/images/portfolio-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Sản Phẩm</h2>
        <ol>
            <li><a href="index.html">Trang Chủ</a></li>
            <li>Sản Phẩm</li>
        </ol>

    </div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Danh sách sản phẩm</h2>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <!-- Tạo các tab từ danh sách childCategories -->
            <li class="nav-item" *ngFor="let category of childCategories">
                <a class="nav-link" [ngClass]="{'active show': category.name === activeCategory}" (click)="setActiveCategory(category.name)" [attr.data-bs-target]="'#menu-' + category.name.toLowerCase()">
                    <h4>{{ category.name }}</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <!-- Tạo nội dung các tab từ danh sách sản phẩm -->
            <div *ngFor="let category of childCategories" class="tab-pane fade" [ngClass]="{'active show': category.name === activeCategory}" [id]="'menu-' + category.name.toLowerCase()">
                <div class="row gy-5">
                    <div *ngFor="let product of filteredProducts[category.name]" class="col-lg-4 menu-item">
                        <a [href]="getFullImageUrl(product.imageUrlPath)" class="glightbox">
                            <img [src]="getFullImageUrl(product.imageUrlPath)" class="menu-img img-fluid" alt="" />
                        </a>
                        <h4>{{ product.name }}</h4>
                        <p class="ingredients">{{ product.description }}</p>
                        <p class="price">{{ product.price | currency: "VND" }}</p>                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->